.gitattributes text eol=lf
.gitignore text eol=lf
**/.gitignore text eol=lf
*.md text eol=lf
.husky/* text eol=lf
mvnw text eol=lf
*.cmd text eol=crlf
*.java text eol=lf
*.properties text eol=lf
*.xml text eol=lf
*.sh text eol=lf
*.mjs text eol=lf
